body {
  font-size: 16px;
  font-family: 'Times', sans-serif;
}

#main-section {
	background-color: #bbb;
	margin-top: 10px;
	margin-bottom: 15px;
}

#nav-list {
	background-color: #000;
	opacity: 0.5;
}

#nav-list a{ 
	color: #fff;
}